<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="header-logo">
            DASHBOARD
        </div>
        <nav class="header-nav">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="UserPage">
                    <i class="ph ph-user-circle"></i> Profile
                </a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Admin" asp-action="Users">Admin</a>
                }
<<<<<<< HEAD
                <a asp-controller="Account" asp-action="Logout">Logout</a>
=======
                <a asp-controller="account" asp-action="logout">Logout</a>

>>>>>>> main
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Login</a>
                <a asp-controller="Account" asp-action="Register">Register</a>
            }
        </nav>
    </header>

    @RenderBody()

    @RenderSection("Scripts", required: false)
    <script src="~/assets/js/script.js"></script>
</body>
</html>
